*{
    box-sizing: border-box;
}

body{
    color: black;
    background-color:orangered;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

h1{
    margin: 20px 0 0;
}

.game-container{
    padding: 20px 30px;
    position: relative;
    margin: auto;
}

.figure-container{
    fill: transparent;
    stroke: black;
    stroke-width: 4px;
    stroke-linecap: round;
    margin-bottom: 100px;
}

.figure-part{
    display: none;
}

.word{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.letter{
    border-bottom: 3px solid black;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

.popup-container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup{
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
}

.popup button{
    background-color: #fff;
    color: black;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
}
